.demo {
    color: red;
    background-color: aqua;
}
li.demo {
    /* font-size: 456px; */
}
.seven {
    color: #dddddd;
    font-size: 100px;
}
#a {
    
}

.title {
    color:red;
    font-size: 100px;
}

#b {
    font-size: 100px;
}